/* ------------------------------------------- 
------------  Stylesheet for NYPD  -----------
------------  by Stephanie Huang  ------------

>> Colors <<
dark blue: #013C7E
light blue: #B5DEFF
-------------------------------------------- */

html, body {
	background: #013C7E;
	font: 16px "Roboto",sans-serif;
	left: 0;
	margin: 0;
	top: 0;
}

.body-wrapper {
	display: block;
	min-height: 100%;
	position: absolute;
	width: 100%;
	min-width: 1000px;
}

a {
	text-decoration: none;
}

/* ---- NAVIGATION ---- */

nav {
	bottom: 2em;
	left: 2em;
	position: fixed;
	width: 20%;
	min-width: 200px;
}

nav a {
	color: #fff;
	font: 2.8em "Roboto Condensed",sans-serif;
}

nav a:hover {
	opacity: .5;
}

.icon {
	background-image: url('icons.png');
	background-repeat: no-repeat;
	display: inline-block;
	height: 32px;
	width: 32px;
}

.fb {
	background-position: -40px 0;
}

.twitter {
	background-position: 0 0;
}

/* ---- MAIN PAGE ---- */

.splash {
	background-image: url('team2.jpg');
	background-attachment: fixed;
	background-position: 100% 0%;
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	height: 100%;
	opacity: .7;
	position: fixed;
	width: 100%;
}

#title {
	bottom: 1em;
	right: .5em;
	color: #fff;
	position: absolute;
}

#title h1 {
	color: #f3f315;
	font: 7.5em "Cutive",serif;
	font-weight: bold;
	letter-spacing: .1em;
	line-height: 1em;
	margin: 0;
	text-transform: uppercase;
}

#title h2 {
	font: 1.5em "Montserrat",sans-serif;
	font-weight: 700;
	margin: 0;
	letter-spacing: .1em;
	opacity: .8;
	padding-left: .3em;
	text-transform: uppercase;
}

/* ---- CONTENT ---- */

.wrapper {
	background: #fff;
	min-height: 100%;
	left: 20%;
	opacity: .8;
	position: absolute;
	width: 80%;
	min-width: 500px;
}

.wrapper a {
	color: #013C7E;
}

.wrapper a:hover {
	color: #B5DEFF;
}

.content {
	line-height: 1.5em;
	left: 12em;
	position: relative;
	padding-top: 3em;
	padding-bottom: 3em;
	width: 40%;
	min-width: 500px;
}

.content b {
	color: #013C7E;
	font-weight: bold;
}

.content h1 {
	font: 2.5em "Montserrat",sans-serif;
	font-weight: 700;
	margin: 1em 0 0 -.5em;
}

.content h2 {
	font: 1.2em "Cutive",serif;
	margin: 1em 0 0 -.5em;
}

.content h3 {
	font: 1.5em "Montserrat",sans-serif;
	font-style: italic;
	margin: 1em 0 0 -.5em;
}

td {
	padding: 0 1em;
	width: 50%;
}

#sub-nav {
	left: 1em;
	position: absolute;
	top: 25%;
}