    <a href="{{ site.url }}/">home</a><br>
    <a href="{{ site.url }}/news/">news</a><br>
    <a href="{{ site.url }}/about.html">about</a><br>
    <a href="{{ site.url }}/join.html">join</a><br>
    <a href="{{ site.url }}/practice.html">practice</a><br>
    <a href="{{ site.url }}/roster/">roster</a><br>
    <a href="{{ site.url }}/contact.html">contact</a><br>
    <a href="{{ site.url }}/links.html">links</a><br>

    <a href="http://www.facebook.com/cu.nypd"><span class="icon fb"></span></a>  
    <a href="http://www.twitter.com/cu_nypd"><span class="icon twitter"></span></a>