<body style="background:#527594;">
    <ul class="intro">
      <li>
        <span>Image 1</span>
       <div class="intro-text">
          <h1>NYPD</h1>
          <h2>Columbia University Women's Ultimate</h2>
          <a href="#main" class="btn-learn-more" role="button">Learn more &raquo;</a> 
        </div>
      </li>
      <li><span>Image 2</span></li>
      <li><span>Image 3</span></li>
      <li><span>Image 4</span></li>
      <li><span>Image 5</span></li>
      <li><span>Image 6</span></li>
      <li><span>Image 7</span></li>
    </ul>
    <div class="container-fluid" style="background: url('{{ site.baseurl }}/images/team1b.jpg') no-repeat fixed center;background-size:cover;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;min-height:100%;position:absolute;top:100%;width:100%" id="main">