<!DOCTYPE html>
<html class="no-js">

  {% include head.html %}

  
  {% if page.title == 'Home' %}
    {% include home.html %}
  {% else %}
  <body>
    <div class="container-fluid full">
  {% endif %}
      <div class="row full">
        <div class="col-sm-2">
          {% include nav.html %}
        </div>
        <div class="col-sm-8 full">
          {% if page.title == 'Home' %}
           {{ content }}
          {% else %}
           <div class="filler"></div>
           <div class="content">
           {{ content }}
           </div>
          {% endif %}
        </div>
      </div> <!-- /row -->
    </div> <!-- / container-fluid -->
    {% include js.html %}
  </body>

</html>
